.jobs-list-container {
    margin: auto;
    padding-left: 24px;
    padding-right: 24px;
}

.title {
    font-size: 2em;
    text-align: left;
    margin-bottom: 20px;
}

.job-title {
    font-size: 1.5em;
}

.job-description {
    font-size: 1.2em;
}