<div class="jobs-list-container">
    <h1 class="title">Jobs List</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Project ID</th>
                <th>Employee ID</th>
                <th>Username</th>
                <th>Job Type</th>
                <th>Start Time</th>
                <th>Status</th>
                <th>Origin Score</th>
                <th>End Score</th>
                <th>Cost (USD)</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let job of jobsPage.content">
                <td>
                    <a [routerLink]="['/job-detail', job.id]">{{ job.id }}</a>
                </td>
                <td>{{ job.projectId }}</td>
                <td>{{ job.employeeId }}</td>
                <td>{{ job.username }}</td>
                <td>{{ job.jobType }}</td>
                <td>{{ job.startTime | date:'short' }}</td>
                <td>{{ job.status }}</td>
                <td>{{ job.originScore }}</td>
                <td>{{ job.endScore }}</td>
                <td>{{ job.cost }}</td>
            </tr>
        </tbody>
    </table>

    <pagination [totalItems]="jobsPage.totalElements" [(ngModel)]="page" (pageChanged)="loadJobs($event)"
        [itemsPerPage]="jobsPage.size" [maxSize]="5" [boundaryLinks]="true"></pagination>
</div>