.jobs-list-container {
    margin: auto;
    padding: 24px 12px 12px 12px;
}

.title {
    font-size: 2em;
    text-align: left;
    margin-bottom: 20px;
}

.job-title {
    font-size: 1.5em;
}

.job-description {
    font-size: 1.2em;
}