<alert *ngIf="errorMessage" [type]="alertType" (onClosed)="onClosed()" [dismissible]="true">{{ errorMessage }}</alert>

<div class="container create-job-container">
    <h1 class="title">Generate Unit Test for the GitHub Repo</h1>

    <form class="create-job-form">
        <div class="form-group full-width-input">
            <label for="githubRepo">GitHub Repo: </label>
            <input name="githubRepo" [(ngModel)]="githubRepo" class="form-control" type="text"
                placeholder="GitHub Repo">
        </div>

        <div class="form-group short-input">
            <label for="branch">Branch: </label>
            <input name="branch" [(ngModel)]="branch" class="form-control" type="text" placeholder="Branch">
        </div>

        <div>
            <label for="jobType">Job Type: </label>
            <select name="jobType" id="jobType" [(ngModel)]="jobType" class="form-control">
                <option value="COVERAGE">Coverage</option>
                <option value="MUTATION">Mutation</option>
            </select>
        </div>

        <div class="form-check checkbox-input form-item">
            <input name="forNewCode" type="checkbox" class="form-check-input" id="forNewCode">
            <label class="form-check-label" for="forNewCode">For new code only (TODO)</label>
        </div>

        <div class="button-container text-center form-item">
            <button class="btn btn-primary" (click)="onGenerateButtonClick()">Generate</button>
        </div>

        <div class="reminder">
            <p>1. It should be a Java Maven project and should be able to run "mvn test" without any errors.</p>
            <p>2. The GitHub repos should be publicly readable.</p>
            <p>3. If you want the changes to be pushed directly to the GitHub repo, grant write access to our system
                GitHub account.</p>
        </div>
    </form>
</div>