<div class="container create-job-container">
    <h1 class="title">Generate Unit Test for the GitHub Repo</h1>

    <form class="create-job-form">
        <div class="form-group full-width-input">
            <label for="githubRepo">GitHub Repo</label>
            <input type="text" class="form-control" id="githubRepo" placeholder="GitHub Repo URL">
        </div>

        <div class="form-group short-input">
            <label for="branch">Branch</label>
            <input type="text" class="form-control" id="branch" placeholder="Branch">
        </div>

        <div class="form-check checkbox-input">
            <input type="checkbox" class="form-check-input" id="cleanWorkspace">
            <label class="form-check-label" for="cleanWorkspace">Clean Project Workspace</label>
        </div>

        <div class="button-container text-center">
            <button type="submit" class="btn btn-primary">Generate</button>
        </div>
    </form>
</div>