.create-job-container {
    max-width: 800px;
    margin: auto;
    padding: 24px 12px 12px 12px;
}

.title {
    font-size: 2em;
    text-align: left;
    margin-bottom: 20px;
}

.full-width-input {
    margin-bottom: 20px;
}

.short-input {
    max-width: 300px;
    margin-bottom: 20px;
}

.checkbox-input {
    margin-bottom: 20px;
}

.form-item {
    margin-top: 24px;
}

.reminder {
    margin-top: 20px;
    font-size: 14px;
    color: #d9534f; // or any other color for reminders

    p {
        margin: 5px 0;
    }
}