<mat-card>
    <mat-card-content>
        <form>
            <mat-form-field>
                <mat-label>Job Title</mat-label>
                <input matInput placeholder="Job Title">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Job Description</mat-label>
                <textarea matInput placeholder="Job Description"></textarea>
            </mat-form-field>

            <button mat-raised-button color="primary">Create Job</button>
        </form>
    </mat-card-content>
</mat-card>